fastapi
uvicorn
gunicorn
torch
torchvision
torchaudio
opencv-python
matplotlib
pillow
requests
numpy==1.26.4
wget
gitpython
transformers
accelerate
supervision
addict
yacs
timm
einops
pycocotools
hydra-core
omegaconf
yaspin
yapf
iopath
fvcore
fairscale
python-multipart