fastapi==0.111.0
uvicorn[standard]==0.30.0
pydantic==2.7.4
pandas==2.2.0
langchain==0.2.5
langchain-core==0.2.7
langchain-community==0.2.5
langchain-text-splitters==0.2.1
chromadb==0.5.0
sentence-transformers==3.0.1
transformers==4.44.0
huggingface-hub==0.24.5
tokenizers==0.19.1
accelerate==0.33.0
peft==0.12.0
datasets==2.20.0
python-dotenv==1.0.1
langchain-openai
openai
faiss-cpu
llama-cpp-python
